@media (max-width: 1024px) {
    /* "Medium length display headline" section styles */
    .section-wraper01 {
        flex-wrap: wrap;
        padding: 32px;
        text-align: center;
        gap: 68px;
    }
    .image-wraper01 {
        width: 100%;
        height: 450px;
        background-position: center;
    }
    .text-block01 {
        width: 100%;
        gap: 68px;
        padding: 0 165px;
        justify-content: center;
    }
    .headline-desc {
        gap: 24px;
    }    
    .data-text {
        width: 100%;
    }
    /* "3 Features" section styles */
    .section-wraper02 {
        gap: 61px;
        padding-top: 39px;
        padding-bottom: 63px;
}
    .feature-block {
        width: 27%;
    }
/* Black-bg section styles*/
    .image-wraper03 {
        width: 100%;
        height: 550px;
    }
    .section-wraper03 {
        gap: 64px;
        padding: 32px 32px 64px 32px;
    }
    .text-block03 {
        flex-direction: row;
        gap: 129px;
        width: 100%;
        align-items: start;
    }
    .title03 {
        width: 43%;
    }
    .desc03 {
        width: 43%;
    }
    /* Testimonials section styles*/
    .section-wraper04 {
        padding: 48px 0px;
    }
    .testimonial-block {
        width: 32.7%;
    }
    /* Footer elements styles */
    .footer-wraper {
        flex-direction: column;
        padding: 45px 32px;
        gap: 48px;
        align-items: start;
}
}