@media (max-width: 1155px) {
    /* "Medium length display headline" section styles */
    .section-wraper01 {
        flex-wrap: wrap;
        padding: 32px;
        text-align: center;
        gap: 68px;
    }
    .image-wraper01 {
        width: 100%;
        height: 450px;
        background-position: center;
    }
    .text-block01 {
        width: 100%;
        gap: 68px;
        padding: 0 165px;
        justify-content: center;
    }
    .headline-desc {
        gap: 24px;
    }    
    .data-text {
        width: 100%;
    }
    /* "3 Features" section styles */
    .section-wraper02 {
        gap: 61px;
        padding-top: 39px;
        padding-bottom: 63px;
}
    .feature-block {
        width: 27%;
    }
    /* Black-bg section styles*/
    .image-wraper03 {
        width: 100%;
        height: 550px;
    }
    .section-wraper03 {
        gap: 64px;
        padding: 32px 32px 64px 32px;
    }
    .text-block03 {
        flex-direction: row;
        width: 100%;
        align-items: start;
        justify-content: space-between;
    }
    .title03 {
        width: 43%;
    }
    .desc03 {
        width: 43%;
    }
    /* Testimonials section styles*/
    .section-wraper04 {
        padding: 48px 0px;
    }
    .testimonial-block {
        width: 32.7%;
    }
    /* Footer elements styles */
    .footer-wraper {
        flex-direction: column;
        padding: 45px 32px;
        justify-content: center;
        gap: 48px
    }
    .columns-wraper {
        width: 100%;
    }
}
@media (max-width: 744px) {
    /* "Medium length display headline" section styles */
    .section-wraper01 {
        margin: 0 auto;    
        gap: 25px;
    }
    .headline-desc > h2 {
        font-size: 40px;
        line-height: 49px;
    }
    .text-block01 {
        width: 100%;
        padding: 0px;
    }
    .data-block {
        gap: 24px;
        flex-direction: column;
    }
    /* "3 Features" section styles */
    .section-wraper02 {
        flex-direction: column;
        gap: 20px;
        padding: 26px 0 20px 0;

    }
    .feature-block-head {
        flex-direction: column;
    }
    .feature-block {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    /* Black-bg section styles*/
    .section-wraper03 {
        padding: 24px;
    }
    .text-block03 {
        flex-direction: column;
        text-align: center;
        gap: 29px;
    }
    .title03 {
        width: 100%;
    }
    .desc03 {
        width: 100%;
        justify-content: center;
    }
    /* Testimonials section */
    .testimonial-block:nth-child(3) {
        display: none;
    }
    .section-wraper04 {
        padding: 24px 0;
        justify-content: center;
        gap: 16px;
    }
    .testimonial-block {
        width: 46%;
    }
    .fa-square-facebook {
        display: none;
    }
    /* Bottom section styles */
    .section-wraper05 {
        padding: 158px 0;    
    }
    .text-block05 {
        width: 100%;
        row-gap: 12px;
    }
    /* Footer elements styles */
    .footer-wraper {
        gap: 20px;
        padding: 25.73px 22px;
    }
    .div-menu {
        width: 69%;
    }
    .subscribe {
        width: 31%;
    }
}
@media (max-width: 625px) {
    /* Header elements styles */
    .header-wraper > .action-button, nav {
        display: none;
    }
    .header-wraper {
        padding: 20px 24px;
    }
    .burger-wraper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* Bottom section styles */
    .text-wraper > h3 {
        font-size: 28px;
    }
    .text-block05 {
        width: 65%;
    }
    /* Footer elements styles */
    .footer-logo-wraper {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .footer-logo-wraper img {
        object-fit: cover;
    }
    .footer-wraper {
        padding: 50px 30px;
        align-items: center;
    }
    .columns-wraper {
        flex-direction: column;
        gap: 25px;
    }
    .div-menu {
        width: 100%;
        text-align: center;
    }
    .subscribe {
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 450px) {
    /* Testimonials section */
    .testimonial-block:nth-child(2) {
        display: none;
    }
    .testimonial-block:nth-child(1) {
        width: 87%;
    }
    .fa-square-facebook {
        display: inline-block;
    }
}
@media (max-width: 375px) {
    /* "Medium length display headline" section styles */
    .section-wraper01 {
        padding: 0px 24px 21px 24px;
    }
    .text-block01 {
        gap: 24px;
    }
    .data-text {
        line-height: 28px;
    }
    .image-wraper01 {
        height: 309px;
    }
    /* "3 Features" section styles */
    .feature-block {
        padding: 24px;
    }
    .feature-block-head {
        flex-direction: row;
    }
    /* Black-bg section styles*/
    .section-wraper03 {
        gap: 14px;
    }
    .image-wraper03 {
        height: 195px;
    }
    .text-block03, .desc03 {
        gap: 14px;
    }
    .title03 > h4 {
        font-size: 16px;
    }
    .desc03 > ul {
        height: auto;
        gap: 2px;
        font-size: 14px;
    }
}