/* header styles */
.header-wraper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    padding: 17px 32px;
}
.nav-ul{
    display: flex;
    width: 328px;
    justify-content: space-between;
}
.a-li {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #000000;
}
.action-button {
    background-color: Black;
    display: flex;
    color: #F3F3F3;
    border-radius: 32px;
    height: 48px;
    width: 100px;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

/* "Medium length display headline" section styles */
.section-wraper01 {
    display: flex;
    width: 100%;
    padding: 64px 165px;    
    gap: 130px;
    align-items: center;
    justify-content: center;
}
.text-block01 {
    display: flex;
    width: 490px;
    row-gap: 44px;
    flex-wrap: wrap;
}
.headline-desc {
    display: flex;
    row-gap: 25px;
    flex-direction: column;
}
.headline-desc > h2 {
    color: #000000;
    font-family: 'Inter';
    font-size: 56px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -1px;
}
.headline-desc > p {
    color: #000000;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
}
.image-wraper01 {
    background-image: url(../images/pillows.png);
    border-radius: 12px;
    width: 490px;
    height: 428px;     
    display: flex;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.data-block {
    display: flex;
    align-items: center;
    gap: 20px;
}
.data-text {
    width: 236px;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #000000;
}
/* "3 Features" section styles */
.section-wraper02 {
    width: 100%;
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 64px 0;
    margin: 0 auto; 
    flex-wrap: wrap;
    background-color: #F3F3F3;
}
.feature-block {
    display: flex;
    gap: 16px;
    width: 360px;
    flex-wrap: wrap;
}
.black-circle {
    background-color: #000000;
    height: 40px;
    width: 40px;
    border-radius: 50px;
}
.feature-block-head {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.feature-block-head > h3 {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    color: #000000;
}
.feature-block > p {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: #000000;
}

/* Black-bg section styles*/
.image-wraper03 {
    background-image: url(../images/shelf.png);
    border-radius: 12px;
    width: 503.5px;
    height: 428px;     
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section-wraper03 {
    width: 100%;
    display: flex;
    column-gap: 133px;
    justify-content: center;
    align-items: center;
    padding: 96px 0;
    margin: 0 auto; 
    flex-wrap: wrap;
    background-color: Black;
}
.text-block03 {
    color: #FFFFFF;
    width: 503.5px;
    display: flex;
    row-gap: 16px;
    flex-wrap: wrap;
}
.title03 {
    display: flex;
    flex-wrap: wrap;
}
.title03 > h4 {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
}
.desc03 {
    display: flex;
    row-gap: 16px;
    flex-wrap: wrap;
}
.desc03 > p {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
}
.desc03 > ul {
    list-style-type: disc;
    list-style-position: inside;
    color: #FFFFFF;
    display: flex;
    height: 120px;
    justify-content: space-between;
    flex-direction: column;
}
/* Testimonials section styles*/
.section-wraper04 {
    display: flex;
    max-width: 1140px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 96px 0px;
    margin: 0 auto;
}
.testimonial-block {
    width: 360px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 56px;
    background-color: #F3F3F3;
    border-radius: 8px;
}
.testimonial-text {
    max-width: 312px;
    width: 100%;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    color: #000000;
}
.bottom-block {
    max-width: 312px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
}
.left-block {
    display: flex;
    row-gap: 16px;
    width: 144px;
    flex-wrap: wrap;
}
.left-block > img {
    height: 64px;
}
.profile-info {
    display: flex;
    row-gap: 4px;
    width: 144px;
    flex-wrap: wrap;
}
.profile-info > h5 {
    color:#000000;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.profile-info > p {
    color: #000000;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.right-block {
    height: 11px;
    column-gap: 16px;
    display: flex;
    justify-content: end;
}
.fa-square-facebook {
    width: 16px;
}
.fa-twitter {
    width: 16px;
}
/* Bottom section styles */
.section-wraper05 {
    background-image: url(../images/doors.jpg);
    width: 100%;
    padding: 192px 0;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.text-block05 {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    row-gap: 32px;
    justify-content: center;
}
.text-wraper {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
    justify-content: center;
}
.text-wraper > h6 {
    color: #F3F3F3;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.text-wraper > h3 {
    color: #F3F3F3;
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: -0.5px;    
}
.white-button {
    background-color: #F3F3F3;
    display: flex;
    color: #000000;
    border-radius: 24px;
    height: 40px;
    width: 84px;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.1px;   
}
/* Footer elements styles */

.footer-wraper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #000000;
    padding: 96px 0;
    flex-wrap: wrap;
}
.div-menu {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}
.column > h5 {
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.1px;
    width: 228px;
}
.column:not(.active) {
    width: 22%;
    row-gap: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}
.active {
    row-gap: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}
.column > ul {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: #FFFFFF;
    display: flex;
    row-gap: 8px;
    flex-direction: column;
}
.email-block-wraper {
    width: 228px;
    row-gap: 20px;
    display: flex;
    flex-wrap: wrap;
}
.email-block {
    height: 48px;
    width: 228px;
    display: flex;
    border-radius: 40px;
    background-color: #FFFFFF26;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
}
.email-block > p {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 50%;
}
.fa-paper-plane {
    color: #FFFFFF;
    width: 24px;
}
.email-block-wraper > p {
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    opacity: 40%;
}